.contacto {
    height: 100vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}


/* .completar {
    display: inline;
} */

.form-control {
    width: 35vw;
}

/* .contenedor-map {
    width: 50vw;
} */

.contenedor-map {
    margin-left: 2rem;
    margin-top: 20vh;
}

.contacto-1 {
    margin-top: 20vh;
}