/*  CONTACTO-------------------------------------- */

.contacto {
    height: 100vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.contacto-1 {
    margin-top: 20vh;
}

.contacto-2 {
    margin-top: 20vh;
    margin-left: 10vw;
}

.contaco-descripcion {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-between;

}


@media (max-width: 576px) {
    .contacto {
        height: 100vh;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;

    }

    .contenedor-map iframe {
        width: 300px;
        height: 300px;
    }

    .contacto-1 {
        margin-top: 10vh;
    }

    .contacto-2 {
        margin-top: 3vh;
        margin-left: 0vw;
    }
}



/* CONSULTAS------------------------------------------------------- */

.consulta {
    height: 100vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.text-consulta {
    margin-top: 20vh;
    text-align: center;
    margin-bottom: 3vh;
}

.contact-form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact-form>* {
    padding: 0.5rem;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    margin: 1rem auto;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    display: block;
    width: 100%;


    display: flex;
    justify-content: center;
}

.completar {
    display: flex;
    flex-direction: column;
}

.contact-form textarea {
    resize: none;
}

.contact-form legend,
.contact-form-response {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form input[type="submit"] {
    width: 40%;
    font-weight: bold;
    cursor: pointer;
}

.contact-form *::placeholder {
    color: #000;
}

.contact-form [required]:valid {
    border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
    border: thin solid var(--form-error-color);
}

.contact-form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
}

.contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.contact-form-loader {
    display: flex;
    justify-content: center;
}

.none {
    display: none;
}

/* .contact-form-loader {
    margin-left: auto;
    margin-right: auto;
} */



@keyframes show-message {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}









/* TURNOS---------------------------- */

.turnos {
    height: 100vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}








/* FOOTER---------------------------------------------------------------- */


.footer {
    background-color: white;
    height: 40vh;

}

.contenedor-footer {
    text-align: center;

}

.nav-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15vh;
    padding-bottom: 2rem;
}

.redes i {
    /* color: var(--fourth-color); */
    color: green;
    transition: all .3s ease-out;
    font-size: 2rem;

}

.redes i:hover {
    color: var(--third-color);
}


/* .text-footer {
    padding-top: 10rem;
    margin-top: 20rem;

} */